<header class="header" id="header">
  <div class="header__container">
    <%= link_to root_path, class: "header__logo" do %>
      <span class="header__logo-icon">ðŸŒ¿</span>
      <span>ã‚°ãƒªãƒ¼ãƒ³ã‚¬ãƒ¼ãƒ‡ãƒ³</span>
    <% end %>
    
    <nav class="header__nav" id="navMenu">
      <%= link_to "ãƒ›ãƒ¼ãƒ ", root_path, class: "header__nav-item" %>
      <%= link_to "ä¼šç¤¾ç´¹ä»‹", about_path, class: "header__nav-item" %>
      <%= link_to "ã‚µãƒ¼ãƒ“ã‚¹", "#{root_path}#services", class: "header__nav-item" %>
      <%= link_to "æ–½å·¥äº‹ä¾‹", "#{root_path}#projects", class: "header__nav-item" %>
      <%= link_to "ãŠå•ã„åˆã‚ã›", new_contact_path, class: "header__cta" %>
    </nav>
    
    <button class="header__hamburger" id="hamburger" aria-label="ãƒ¡ãƒ‹ãƒ¥ãƒ¼">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
